.about-container {
    display: flex;
    flex-direction: column;
  }
  
  .item1 {
    flex: 1;
  }
  
  .item2 {
    flex: 2;
  }
  
  .left-image {
    width: 100%;
    height: auto;
  }
  
  .content {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
  }
  
  @media (min-width: 768px) {
    .about-container {
      flex-direction: row;
    }
  
    .item1 {
      flex: 1;
      padding: 20px;
    }
  
    .item2 {
      flex: 2;
    }
  
    .left-image {
      width: 100%;
      height: 100%;
    }
  
    .content {
      margin: 0 20px;
    }
  }
  