

.contact-container {
    margin-top: 20px;
    height: 50%;
    width: 20%;
   
  }
  
  .contact-container h2 {
    text-align: center;
    
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 20%;
    height: 40%;
   
  }
  
  textarea.form-control {
    resize: vertical; 
  }
  
  .btn-primary {
    width: 30%;
    margin-top: 20px;
    text-align: center;
    align-items: center;
  }
  

  